.header {
    margin-top: 4rem;
}

.header hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header .muted {
    color: #E1E1E1;
}

@media (min-width: 550px) {
    .header {
        margin-top: 18rem;
    }
}